@font-face {
  font-family: notika-icon;
  src: url(fonts/notika-icon.eot?qzfrsz);
  src: url(fonts/notika-icon.eot?qzfrsz#iefix) format('embedded-opentype'), url(fonts/notika-icon.ttf?qzfrsz) format('truetype'), url(fonts/notika-icon.woff?qzfrsz) format('woff'), url(fonts/notika-icon.svg?qzfrsz#notika-icon) format('svg');
  font-weight: 400;
  font-style: normal
}
.notika-icon {
  font-family: notika-icon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.notika-bar-chart:before {
  content: "\e935"
}
.notika-chat:before {
  content: "\e905"
}
.notika-menu:before {
  content: "\e919"
}
.notika-settings:before {
  content: "\e92a"
}