@media (min-width:992px) and (max-width:1169px) {
    .header-top-area {
        position: unset
    }
    ul.notika-menu-wrap li a {
        padding: 15px 20px
    }
    ul.notika-main-menu-dropdown li>a {
        padding: 15px 15px
    }
    .dk-res-mg-t-30 {
        margin-top: 30px
    }
    .dk-res-ds {
        display: none
    }
    .email-signle-gp {
        margin: 0 25px
    }
    .dk-res-mg-t-10 {
        margin-top: 10px
    }
    .all-content-wrapper {
        margin-left: 200px
    }
    .dash-widget-visits {
        overflow: hidden
    }
}
@media (min-width:768px) and (max-width:991px) {
    .main-menu-area {
        display: none
    }
    .header-top-area {
        position: unset
    }
    .tb-res-mg-t-30 {
        margin-top: 30px
    }
    .tb-res-mg-t-0 {
        margin-top: 0
    }
    .tb-res-ds-n {
        display: none
    }
    .flot-chart {
        height: 300px
    }
    .flot-chart.tb-rc-it-res {
        height: 142px
    }
    .email-signle-gp {
        margin: 0 6px
    }
    .flot-chart.bar-three {
        height: 268px !important
    }
    .tb-res-mg-t-40 {
        margin-top: 40px
    }
    .tb-res-mg-t-10 {
        margin-top: 10px
    }
    .all-content-wrapper {
        margin-left: 0
    }
    .logo-area {
        text-align: center
    }
    .nav.navbar-nav.notika-top-nav {
        float: unset
    }
    .header-top-menu {
        max-width: 255px;
        margin: 0 auto
    }
    .dash-widget-visits {
        margin: 35px 0
    }
    .dash-widget-visits {
        overflow: hidden
    }
}
@media (max-width:767px) {
    .container {
        width: 300px
    }
    .main-menu-area {
        display: none
    }
    .logo-area {
        text-align: center
    }
    .nav.navbar-nav.notika-top-nav {
        float: unset;
        margin: 0
    }
    .header-top-menu .nav.navbar-nav.notika-top-nav li {
        display: inline-block
    }
    .header-top-menu .navbar-nav>li>.dropdown-menu {
        background: #fff
    }
    .header-top-area {
        position: unset
    }
    .sm-res-mg-t-30 {
        margin-top: 30px
    }
    .sm-res-mg-t-0 {
        margin-top: 0
    }
    .sm-res-ds-n {
        display: none
    }
    .all-content-wrapper {
        margin-left: 0
    }
    .header-top-menu {
        text-align: center
    }
    .curved-ctn p, .recent-post-it-ctn p, .recent-post-title p, .website-traffic-ctn p {
        line-height: 24px
    }
    .sm-res-mg-t-40 {
        margin-top: 40px
    }
    .sm-res-mg-t-10 {
        margin-top: 10px
    }
    .sm-res-mg-t-15 {
        margin-top: 15px
    }
    .dash-widget-visits {
        overflow: hidden
    }
    .flot-chart-items {
        margin: -10px -10px 0
    }
    .navbar-nav>li>a {
        padding: 20px 15px 20px 15px
    }
}
@media only screen and (min-width:480px) and (max-width:767px) {
    .container {
        width: 450px
    }
    .main-menu-area {
        display: none
    }
    .lg-res-mg-bl {
        display: block
    }
    .email-round-pro {
        width: 33.33%
    }
}